@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    pointer-events: none;
    margin: 0;
    padding: 0;
    padding-top: 10em;
    background-color: #000;
    color: #fff;
}

input:focus {
    outline: none;
}

input {
    border: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    width: 70%;
}

.cli {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
}

.cli-sec {
    position: relative;
    margin: 1em;
}

td,
th {
    text-align: left;
    border: 0;
}

table {
    --global-font-size: 15px;
    --global-line-height: 1.5em;
    --global-space: 10px;
    line-height: var(--global-line-height);
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Inconsolata', monospace;
    word-wrap: break-word;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    width: 100%;
    border-collapse: collapse;
    margin: var(--global-line-height) 0;
    font-size: var(--global-font-size);
    border: 0;
}

.notes {
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 0;
    left: 1;
    font-size: 0.8em;
    color: blue;
}