<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>cwf01</title>
</head>

<body>
    <p class="notes">this site is still under development</p>
    <div class="cli">
        <div class="cli-sec">
            <div class="dir">

                <form action="/search" method="post" id="form">
                    <span>{{ip}}@cwf01:$ ~ </span>
                    <input type="text" id="input" name="query">
                </form>

                <div class="test">
                    {% if err %}
                    <p> {{err}}</p>
                    {% else %}
                    {% for table in tables %}
                    {{ table|safe}}
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</body>

<script>
    activeLine = document.getElementById("input")
    form = document.getElementById("form")
    activeLine.focus()
    window.addEventListener("click", () => { activeLine.focus() })

    window.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            form.submit()
        }
    });
</script>

</html>